/* CSS reset below*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS starts under here */
@font-face {
  font-family: PlayfairDisplay-Bold;
  src: url(Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: PlayfairDisplay-Black;
  src: url(Playfair_Display/static/PlayfairDisplay-Black.ttf);
}

@font-face {
  font-family: HammersmithOne-Regular;
  src: url(Hammersmith_one/HammersmithOne-Regular.ttf);
}

@font-face {
  font-family: Roboto_Light;
  src: url(Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto_Black;
  src: url(Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto_Thin;
  src: url(Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto_Regular;
  src: url(Roboto/Roboto-Regular.ttf);
}

* {
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

/* Header-Navbar Oke */

header {
  background-image: url("material/bgk-header.png");
  background-size: cover;
  width: 100%;
  height: 670px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2em;
  font-family: "HammersmithOne Regular";
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1em;
  flex-grow: 0;
}

.n_logo {
  display: flex;
  align-items: center;
}

.n_logo p {
  font-family: Roboto_Thin;
  color: rgb(93, 190, 203);
  font-size: 1.875em;
  font-weight: 200;
  padding-left: 0.3em;
}

.n_logo object {
  margin-top: 0.5em;
}

.n_logo a {
  text-decoration: none;
}

.n_logo h1 {
  color: #68dacd;
  padding-left: 0.25em;
}

.nav_items {
  list-style: none;
  display: flex;
  justify-content: end;
}

.nav_items li {
  list-style: none;
}

.nav_items li a {
  color: rgba(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-family: Roboto_Black;
  font-size: 0.8125em;
  margin-right: 3em;
}

.nav_items li a:hover {
  color: #68dacd;
}
.n_container {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.n_text {
  color: rgba(255, 255, 255);
  text-align: center;
  max-width: 800px;
  row-gap: 1.5em;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: center;
}

.n_text p {
  font-family: Roboto_Light;
  font-weight: light;
  color: rgba(255, 255, 255, 255);
  line-height: 2em;
  padding-bottom: 1.5em;
  font-size: 0.875em;
}

.n_text hr {
  width: 8%;
  background-color: #68dacd;
  border-width: 0;
  height: 1px;
}

.n_button {
  border: 1.5px solid #68dacd;
  border-radius: 2px;
  width: fit-content;
  text-decoration: none;
  background: none;
  padding: 10px 10px;
  font-size: 0.9em;
  color: #68dacd;
  font-family: "HammersmithOne-Regular", sans-serif;
}

.n_button:hover {
  background-color: #68dacd;
  color: rgb(18, 20, 53);
}

.navbar {
  display: flex;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* Our Story Section Oke and Flo */
.our-story {
  display: grid;
  grid-template-columns: 21% repeat(3, 1fr) 21%;
  column-gap: 0px;
}

.s_logo {
  width: 70%;
  grid-column-start: 2;
  display: flex;
  justify-content: center;
}

.s_logo > * {
  align-self: center;
}

.s_text {
  padding: 0px;
  grid-column-start: 3;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.our-story h2 {
  margin-top: 70px;
  margin-bottom: 15px;
  font-family: PlayfairDisplay-Bold;
  font-size: 1.375em;
  color: rgba(65, 61, 75, 255);
  font-weight: 900;
}

.our-story p {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Roboto-Light;
  font-size: 0.875em;
  color: rgba(65, 61, 75, 255);
  margin-left: 0;
  line-height: 1.6;
}

.our-story button {
  margin-top: 15px;
  margin-bottom: 70px;
}

/* Watch Section - Flo */
.watch {
  background-image: url("photoshop_file/photoshop/design-assets/bgk-middle.png");
  background-size: cover;
  width: 100%;
  height: 550px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.w_play {
  position: relative;
  width: 6%;
}

.watch .w-text {
  position: relative;
  width: 150px;
}

.watch {
  background-image: url("photoshop_file/photoshop/design-assets/bgk-middle.png");
  background-size: cover;
  width: 100%;
  height: 550px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.w_play {
  position: relative;
  width: 100px;
}

.watch a {
  text-decoration: none;
  color: white;
  font-family: Roboto_Black sans-serif;
}

.watch p {
  margin-top: 35px;
  margin-left: 20px;
  position: relative;
  width: 10%;
}
/* Expertise Section - Flo */
.expertise {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

#e_bottom_border {
  border: #c5c4c9 1px solid;
  margin-top: 20px;
  width: 50px;
}

#e-title {
  color: #403e4b;
  font-family: PlayfairDisplay-Bold;
  font-weight: bold;
  font-size: 1.375em;
}

.e_intro {
  color: #77777c;
  font-family: PlayfairDisplay-Regular;
  font-size: 0.875em;
}

.e_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  width: 50%;
  margin-bottom: 100px;
  margin-top: 3em;
}

.e_grid_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
  border-bottom: solid 1px #ebebeb;
  padding-bottom: 40px;
  padding-top: 70px;
}
.e_grid_center{
  border-left: solid 1px #EBEBEB;
  border-right: solid 1px #EBEBEB;
}
#e-bot-outside-item{
  border-top: solid 1px #EBEBEB;
}
#e-center-item{
  border-top: solid 1px #EBEBEB;
}
.expertise .e_grid_item p {
  color: rgba(65, 61, 75, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 0.88em;
  line-height: 1.6;
  font-weight: 300;
  padding-inline: 2em;
  opacity: 80%;
}

.e_grid_item h3 {
  color: rgba(65, 61, 75, 255);
  font-family: 'Roboto', sans-serif;;
  font-size: 0.88em;
  font-weight: 900;
  margin-bottom: 30px;
}

.e_image {
  height: 50px;
  width: 50px;
  margin: 10px;
  margin-bottom: 42px;
}

.expertise h2 {
  color: rgba(65, 61, 75, 255);
  font-family: PlayfairDisplay-Bold;
  font-size: 1.375em;
  margin-bottom: 20px;
}

/* Team Section - Alvaro */
.t-team-section {
  background-image: url("photoshop_file/photoshop/design-assets/bgk-header.png");
  object-fit: scale-down;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
}
.t-title {
  text-align: center;
  padding: 3em;
}
.t-title h2 {
  font-size: 1.375em;
  padding: 0.25em;
  font-family: PlayfairDisplay-Bold;
  color: rgba(255, 255, 255, 255);
  padding-bottom: .8em;
}
.t-title h3 {
  font-size: 0.8em;
  padding-bottom: 0.25em;
  font-family: PlayfairDisplay-Regular;
  color: rgba(255, 255, 255, 255);
}
.t-title hr {
  width: 5%;
  margin-top: 1em;
  border: 1px solid rgba(128, 113, 133, 0.696);
}
.t-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-cards img {
  max-width: 100%;
  height: auto;
  display: block;
}
.t-card-1,
.t-card-2,
.t-card-3,
.t-card-4 {
  margin-left: 1em;
  text-align: center;
  border: 1px solid white;
  max-width: 13.75em;
  max-height: 19.25em;
}

.t-cards h1 {
  padding-top: 1.75em;
  padding-bottom: 0.25em;
  font-size: 0.8em;
  font-family: Roboto_Black;
  font-weight: bold;
  color: rgba(255, 255, 255, 255);
}
.t-cards p {
  font-size: 0.87em;
  padding-bottom: 1.75em;
  font-family: Roboto_Light;
  font-weight: 300;
  color: rgba(250, 250, 250, 255);
}
.t-careers {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5em;
  padding-bottom: 5em;
  width: 100%;
  height: 100%;
}
.t-careers p {
  font-family: Roboto_Light;
  font-weight: 300;
  font-size: 0.87em;
  color: rgba(243, 243, 243, 255);
  margin-bottom: 3em;
}
.t-btn {
  font-family: HammersmithOne-Regular, sans-serif;
  font-size: 1em;
  color: rgba(0, 224, 208, 255);
  background-color: transparent;
  border-color: rgba(0, 224, 208, 255);
  padding: 0.5em 0.8em;
}
.t-btn:hover {
  background-color: rgba(0, 224, 208, 255);
  color: black;
  cursor: pointer;
}

/* Contact Section - Aleksandra */

.contact-client {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: baseline;
}
/*cc div 1*/

.cc_news {
  display: inline-grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 460px;
  justify-content: center;
}
.cc_news_item {
  font-family: PlayfairDisplay-Bold;
  height: 30px;
  margin: -30px;
}

.cc_news_item::placeholder {
  font-family: Roboto_Light;
}

.cc_text_area {
  height: 100px;
  grid-row: 5 / 6;
}
.cc_button {
  border: 1.5px solid #68dacd;
  border-radius: 4px;
  width: fit-content;
  text-decoration: none;
  background: none;
  font-size: 1em;
  color: #68dacd;
  font-family: HammersmithOne-Regular, sans-serif;
  font-weight: bold;
  margin-top: 35px;
}
/*cc div 2*/

.cc_clients_conteiner {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}
.cc_item {
}
.cc_item1 {
  font-family: PlayfairDisplay-Bold;
  grid-column: 1 / 3;
}

/* Footer Section - Aleksandra */

footer {
  display: block;
  background-image: url("photoshop_file/photoshop/design-assets/bgk-footer.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  color: white;
}

.f_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em;
}
.f_first_column {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.f_container_logo {
  display: flex;
  align-items: center;
  font-family: Roboto_Thin;
}
.f_container_logo img {
  width: 60px;
  height: 60px;
  margin: 1em;
}

.f_ourstudio {
  flex-direction: column;
  align-items: center;
  padding: 1em;
  align-items: center;
  text-align: center;
  max-width: 33%;
}
.f_ourstudio a {
  color: white;
  text-decoration: none;
}

.f_ourstudio h3 {
  font-family: Roboto_Black;
}

.f_address {
  display: flex;
  font-family: Roboto_Light;
}

.f_paper{
  width: 70px;
  background-color: #C5C4C9;
  opacity: 0.5;
  text-align: center;
}

.f_address img {
  margin: 10px;
}

.f_tel {
  font-family: Roboto_Light;
}

.f_newsletter {
  display: flex;
  flex-direction: column;
}

.f_newsletter h3 {
  font-family: Roboto_Black;
}

.f_input {
  font-family: Roboto_Light;
}

.f_socialmedia ul {
  display: inline-flex;
  margin-top: 0.5em;
}
.f_bottom {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  font-family: Roboto_Regular;
}
.f_links ul {
  display: inline-flex;
}
.f_links ul li a {
  margin: 0.5em;
  color: white;
  text-decoration: none;
}

.f_container_logo img {
  width: 60px;
  height: 60px;
  margin: 1em;
  color: #03ded0;
}
.f_container_logo h2 {
  color: #03ded0;
  font-size: 30px;
  font-weight: 400;
}

.f_logo p {
  font-size: 14px;
  font-weight: 300;
  padding-left: 1em;
  letter-spacing: 0.35px;
  line-height: 26px;
  font-family: Roboto_Light;
}

.f_ourstudio {
  flex-direction: column;
  align-items: center;
  align-items: center;
  text-align: left;
  max-width: 25%;
}

.f_ourstudio h3 {
  font-size: 15px;
  font-family: "Roboto_Black";
  font-size: 15px;
  font-weight: 400;
  padding: 1em 0 2em 0.7em;
}

.f_ourstudio a {
  text-decoration: none;
}

.f_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em;
}

.f_first_column {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 4em 0 5em 3em;
}

.f_address img {
  margin: 10px;
  padding: 0 0.3em 3em 0;
}

.f_address p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.35px;
  padding: 0.3em 0 0 0;
}

.f_tel a {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  padding: 1em 0 2em 1em;
}

.f_tel img {
  padding: 1em 0 0 0.5em;
}

.f_socialmedia ul {
  display: inline-flex;
  padding-top: 1.8em;
}

.f_socialmedia a {
  margin: 0 0.2em;
}

.f_links ul li a {
  margin: 0.5em;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.f_copyright {
  font-size: 14px;
  font-weight: 400;
}

.f_newsletter h3 {
  padding: 0 0 2em 0;
}

.f_input {
  background: none;
  height: 3em;
  width: 16em;
  border: 1px solid #ffffff;
  letter-spacing: 0.7px;
  opacity: 0.5;
}

::placeholder {
  color: #ffffff;
  opacity: 0.75;
}

/* Media Queries */
@media (max-width: 850px) {
  .hamburger {
    display: block;
    background-image: url("photoshop_file/photoshop/design-assets/bgk-footer.png");
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    color: #ffffff;
    max-height: 400px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  nav.item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .t-cards {
    flex-direction: column;
    font-family: "Roboto_Black";
    padding: 5em 6em 3em 1em;
  }

  .t-card-1,
  .t-card-2,
  .t-card-3,
  .t-card-4 {
    margin-bottom: 1em;
  }

  .our-story {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    padding: 0 7em 3em 4.5em;
    flex-direction: column;
    min-width: 30%;
    margin-inline: 50%;
    align-items: center;
    margin-top: 1em;
  }

  .s_logo embed {
    width: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
  }

  .s_text h2 {
    align-self: center;
  }

  .s_text button {
    align-self: center;
  }
}
