/* CSS reset below*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS starts under here */

* {
  font-size: 16px;
}
/*contact-client-news*/

.cc_news {
    display: inline-grid;
    grid-template-rows: repeat(5, 30px);
    grid-template-columns: 460px;
    justify-content: center;
    gap: 20px;
    padding: 90px;
}

.cc_news_item5 {
    height: 150px;
}
.cc_news_item6{
    height: 30px;
    width: 100px;
    color: #00e0d0;
    border-color: #00e0d0;
    border-radius: 5px;
    margin-top: 110px;
    }
/*clients container*/

.cc_clients_conteiner ul {
    display: inline-grid;
    grid-template-rows: repeat(5, 1fr) ;
    grid-template-columns: 200px 200px;
    justify-items: center;
    margin-bottom: 120px;
}
.cc_clients_conteiner h3 {
    display: grid;
    justify-content: start;
    margin: 72px 0 36px 0;
}

/*.cc_zara {
}
.cc_barneys {
}
.cc_calvin {
}
.cc_converse {
}
.cc_levis {
}
.cc_mango {
}
.cc_gucci {
}
.cc_nike {
}
.cc_puma {
}
.cc_billa {
}
*/
/*contact-client*/

.contact-client {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: baseline;
}

/*Fotter*/
.f_container_logo {
display: grid;
border: 1px solid white;
justify-content: center;
}

.f_tajam {
    display: inline-grid;
    margin: 70px 0 0 10px;
}

.f_tajam_text h2 {
    margin: 10px 0 0 60px;
    color: #00e0d0;
    font-size: 32px;
}

.f_tel {
    background: url(/photoshop_file/photoshop/design-assets/png/phone351.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}


.f_ourstudio {
    display: grid;
    border: 1px solid white;
}


.f_newslatter {
    display: grid;
    border: 1px solid white;
}

.f_links {
    display: grid;

    border: 1px solid white;
}

.f_coryright{
    display: grid;
    border: 1px solid white;
}

.f_container {
    border: 1px solid white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 33% 33%;
}
.t-btn:hover{
  background-color: rgba(0,224,208,255);
  color: black;
}
